.join-group-modal {
  .modal-header {
    border-bottom-color: rgba(0, 0, 0, 0.1);
  }
  .modal-title {
    p {
      font-weight: bold;
      font-size: 18px;
    }
    h6 {
      font-size: 12px;
      opacity: 0.5;
    }
  }

  .modal-body {
    p {
      font-size: 14px;
    }
    label {
      margin-top: 6px;
    }
    .form-group {
      margin-bottom: 20px !important;
    }
    .custom-control-label {
      font-size: 14px;
      &::before,
      &::after {
        width: 16px;
        height: 16px;
        top: 0.1rem;
      }
    }
  }

  .modal-footer {
    background: rgba(235, 235, 235, 0.5);
    .btn {
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
}
