@import '../../styles/variables';

.inner-addon { 
  position: relative;
  border: 1px solid $light;
  background-color: #f9f9f9;
  border-radius: $border-radius-lg;
  .input-icon {
    position: absolute;
    padding: 12px;
    pointer-events: none;
    color: $dark;
  }
}

.left-addon {
  .input-icon {
    left: 0px;
  }
  input {
    padding-left: 50px;
    padding-right: 17px;
    border-radius: 9px;
  }
}

.right-addon {
  .input-icon {
    right: 0px;
  }
  input {
    padding-right: 50px;
    padding-left: 17px;
    border-radius: 9px;
  }
}
