/** Proxima Nova **/

@font-face {
  font-family: proxima_nova;
  src: url('./Proxima-Thin-webfont.eot');
  src: url('./Proxima-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('./Proxima-Thin-webfont.woff2') format('woff2'),
    url('./Proxima-Thin-webfont.woff') format('woff'),
    url('./Proxima-Thin-webfont.ttf') format('truetype'),
    url('./Proxima-Thin-webfont.svg#proxima_nova_ltthin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: proxima_nova;
  src: url('./Proxima-Nova-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: proxima_nova;
  src: url('./Proxima-Semibold-webfont.eot');
  src: url('./Proxima-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('./Proxima-Semibold-webfont.woff2') format('woff2'),
    url('./Proxima-Semibold-webfont.ttf') format('truetype'),
    url('./Proxima-Semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: proxima_nova;
  src: url('./Proxima-Nova-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: proxima_nova;
  src: url('./Proxima-Alt-Black-webfont.woff2') format('woff2'),
    url('./Proxima-Alt-Black-webfont.woff') format('woff'),
    url('./Proxima-Alt-Black-webfont.ttf') format('truetype'),
    url('./Proxima-Alt-Black-webfont.svg#proxima_nova_altblack') format('svg');
  font-weight: 900;
  font-style: normal;
}

/* variant of proxima nova font*/
@font-face {
  font-family: proxima_scosfthin;
  src: url('./Proxima-ScOsf-Thin-webfont.eot');
  src: url('./Proxima-ScOsf-Thin-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./Proxima-ScOsf-Thin-webfont.woff') format('woff'),
    url('./Proxima-ScOsf-Thin-webfont.ttf') format('truetype'),
    url('./Proxima-ScOsf-Thin-webfont.svg#proxima_nova_scosfthin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: proxima_altregular;
  src: url('./Proxima-Alt-Regular-webfont.eot');
  src: url('./Proxima-Alt-Regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./Proxima-Alt-Regular-webfont.woff') format('woff'),
    url('./Proxima-Alt-Regular-webfont.ttf') format('truetype'),
    url('./Proxima-Alt-Regular-webfont.svg#proxima_nova_altregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}
