@import '../../styles/_variables';

.tab-header-lg {
  a {
    color: $primary-color;
    font-size: 18px;
    opacity: 0.5;
    &:hover {
      color: $primary-color;
    }
  }
  .active {
    opacity: 1;
    overflow: hidden;
    p {
      border-bottom: 3px solid $primary;
    }
  }
}

.tab-header-md {
  a {
    color: $primary-color;
    font-size: 16px;
    opacity: 0.5;
    &:hover {
      color: $primary-color;
    }
  }
  .active {
    opacity: 1;
    overflow: hidden;
    p {
      border-bottom: 3px solid $primary;
    }
  }
}

.custom-arrow-down {
  margin-left: -10px;
}