.group-card {
  .card-body {
    h4 {
      font-size: 18px;
    }
    &-status {
      span {
        font-size: 18px;
      }
    }
    &-status,
    .card-footer {
      font-size: 12px;
    }
  }

  a.btn {
    text-transform: uppercase;
    height: 35px;
    line-height: 26px;
  }
}
