@import '../../../../../styles/variables';

.group-card {
  .card-title {
    a {
      width: 60%;
    }
  }

  .card-body {
    h4 {
      color: black;
      &:hover {
        color: $primary;
      }
    }
    .card-text {
      height: 40px;
    }
  }

  a.btn {
    height: 35px;
    line-height: 26px;
  }

  .card-footer {
    button {
      height: 35px;
      padding: 0;
    }
  }
}
