@import './variables';
@import './theme';

#root {
  background: $deny-bg-color;
}

html {
  height: 100%;
  #root {
    background: $deny-bg-color;
    display: flex;
    flex-direction: column;
    .content {
      flex: 1 0 auto;
    }
  }
}

button {
  outline: none !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 2px;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-size: 76%;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  background-image: none !important;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: none !important;
}

.was-validated .custom-control-input:valid ~ .custom-control-label {
  color: black;
}
