@import "./variables";
@import "./theme";
html, body {
  height: 100%;
  background: $deny-bg-color;
  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
    .content {
      flex: 1 0 auto;
    }
  }
}