@import './variables';
@import './theme';

#root {
  background: $deny-bg-color;
  font-family: proxima_nova;
}

html {
  min-height: 100%;
  position: relative;
  background: $deny-bg-color;
  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 0 auto;
  }
}

.app-content {
  margin-bottom: 100px;
}

button {
  outline: none !important;
}

p {
  margin: 0;
}

input.form-control,
select.form-control,
textarea.form-control {
  background: #f9f9f9;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-checkbox .custom-control-label::before {
  border-radius: 2px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-size: 76%;
}

.was-validated .form-control:valid,
.form-control.is-valid,
.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: none !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus,
.btn-outline-primary:focus,
.btn-outline-primary.focus,
.custom-control-input:focus ~ .custom-control-label::before,
.form-control:focus,
.was-validated .form-control:valid:focus,
.form-control.is-valid:focus,
.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
  box-shadow: none;
}

.was-validated .custom-control-input:valid ~ .custom-control-label {
  color: black;
}

.form-group {
  margin-bottom: 0;
  .form-label {
    font-size: 12px;
    opacity: 0.5;
    margin-bottom: 6px;
    margin-top: 24px;
    text-transform: uppercase;
  }
  input {
    border: 1px solid #d4d4d4;
    border-radius: 10px;
  }
}

button.btn-lg {
  font-size: 18px;
  border-radius: 6px;
  margin-top: 32px;
  text-transform: uppercase;
}

.h1-title {
  font-size: 48px;
}

.h2-title {
  font-size: 36px;
}

.h3-title {
  font-size: 24px;
}

.p-md {
  font-size: 14px;
}

.p-lg {
  font-size: 16px;
}

.opacity-5 {
  opacity: 0.5;
}
.auth-form-header {
  font-size: 36px;
  font-weight: 600;
  font-family: 'proxima_nova';
}

.card-footer-bg-color {
  background-color: $white;
}

.link-size {
  font-size: 14px;
  font-weight: 600;
}