@import './variables';

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'dark': $dark,
  'light': $light,
);

$btn-border-radius: $border-radius;
$card-border-radius: $border-radius-lg;

@import '~bootstrap/scss/bootstrap';
