$brand-color: #019690;
$primary-color: #000000;
$backup-color: #ffffff;

$brand-bg-color: #019690;
$primary-bg-color: #ffffff;
$backup-bg-color: #e5e5e5;
$nav-bg-color: #101c2a;
$deny-bg-color: #c4c4c4;

$primary: $brand-bg-color;
$secondary: $nav-bg-color;
$info: #45b8f1;
$warning: #ff9c41;
$danger: #ea3900;
$muted: #c4c4c4;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "muted":      $muted,
);

$border-radius: 6px;
$border-radius-lg: 10px;

$btn-border-radius: $border-radius;
$card-border-radius: $border-radius-lg;

@import "node_modules/bootstrap/scss/bootstrap";
