$primary-color: #000000;
$backup-color: #ffffff;

$brand-bg-color: #019690;
$primary-bg-color: #ffffff;
$backup-bg-color: #e5e5e5;
$deny-bg-color: #c4c4c4;

$info: #45b8f1;
$warning: #ff9c41;
$danger: #ea3900;
$light: #c4c4c4;
$dark: #A6A6A6;

$white: $backup-color;
$primary: #019690;
$secondary: #101c2a;

$border-radius: 6px;
$border-radius-lg: 10px;