$nav-background-color: #101c2a;
$main-background-color: #d4d4d4;

$primary: #00988a;
$secondary: #101c2a;
// 'success': $success,
$info: #45b8f1;
$warning: #ff9c41;
$danger: #ea3900;
$light: #c4c4c4;
$dark: #a6a6a6;

$white: white;
$black: black;

$border-radius: 6px;
$border-radius-lg: 10px;

$card-cap-bg: #ebebeb;
$border-color: rgba(0, 0, 0, 0.1);
