.group-profile .card {
  &-header {
    padding: 18px 30px;
    h3 {
      font-weight: 600;
      font-size: 32px;
      margin-bottom: 12px;
    }
    h6 {
      font-size: 12px;
      margin-bottom: 0;
    }
    h6 + h6 {
      opacity: 0.5;
      margin-right: 20px;
    }
  }

  &-body {
    & > div {
      padding: 30px;
      & > span {
        display: inline-block;
        opacity: 0.5;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
    }
  }

  &-footer {
    display: flex;
    flex-direction: wrap;
    padding: 20px 30px;
    .btn {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      min-width: 180px;
    }

    span {
      font-size: 24px;
      margin: 0 20px;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
