@import '../../styles/variables';
.home-page-container {
  min-width: 100%;
  position: absolute;
  top: 0;
  .home-container-section {
    background-image: url('../../assets/imgs/home-page-login-account-background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    .login-view {
      color: $white;
      margin-top: 181px;
      margin-left: 80px;
      .login-button {
        width: 200px;
      }
    }
  }
  .platform-features {
    background-image: url('../../assets/imgs/home-page-platform-features-background.svg');
    background-position: right;
    background-repeat: no-repeat;
    height: 630px;
    padding: 56px 54px 100px 54px;
    .h2-title {
      margin-bottom: 56px;
    }
    .card {
      width: 246px;
      margin-bottom: 54px;
      background-image: url('../../assets/imgs/home-page-platform-card-background.svg');
    }
    .p-md {
      width: 282px;
      margin-top: 17px;
    }
    img {
      padding-top: 55px;
      padding-bottom: 55px;
    }
}
  .create-account-section {
    padding-top: 66px;
    background-color: $white;
    background-image: url('../../assets/imgs/home-page-create-account-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    .h3-title {
      margin-bottom: 17px;
    }
    .create-account-button {
      margin-bottom: 78px;
      width: 285px;
    }
  }
}