@import '../../styles/variables';
.home-page-container {
  min-width: 100%;
  position: absolute;
  top: 0;
  .home-container-section {
    background-image: url('../../assets/imgs/home-page-login-account-background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    .login-view {
      color: $white;
      margin-top: 181px;
      margin-left: 80px;
      @media screen and (max-width: 768px) {
        margin-left: 10px;
        .signup-button {
          display: block !important;
        }
      }
    }
  }
  .platform-features {
    background-image: url('../../assets/imgs/home-page-platform-features-background.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    & > div {
      max-width: 400px;
      & > .card {
        max-width: 200px;
        min-width: 150px;
        background-image: url('../../assets/imgs/home-page-platform-card-background.svg');
        background-position: left;
      }
    }
}
  .create-account-section {
    padding-top: 66px;
    background-color: $white;
    background-image: url('../../assets/imgs/home-page-create-account-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}