@import '../../../../styles/variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';

.user-settings-container {
  nav {
    a {
      color: $black;
    }
  }

  .profile-settings-footer {
    button {
      max-width: 370px;
      width: 100%;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
    }
  }
}

@include media-breakpoint-between(xs, sm) {
  .user-settings-container {
    background: none;
    box-shadow: none;

    .custom-nav {
      justify-content: space-between;
      a {
        font-size: 12px;
      }
    }
    .user-settings-container-content {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      margin: 20px 0;

      .personal-data-section {
        padding: 7px;
      }
      .profile-settings-footer button {
        max-width: 356px;
      }
      .profile-settings-footer button,
      .personal-data-section {
        margin-right: auto !important;
        margin-left: auto !important;
      }
    }
  }
}
