.view-proposals-modal {
  .proposals-list {
    max-height: 310px;
    overflow: auto;
    .general-avatar p {
      margin-bottom: 0;
    }
    .proposal-row {
      cursor: pointer;
      &:hover {
        background: #f5f5f5;
      }
      &.active {
        background: rgba(0, 152, 138, 0.1);
      }
    }
  }
}
