@import '../../../styles/variables';
.home-page-container {
  min-width: 100%;
  margin-top: -100px;
  .home-container-section {
    background-image: url('../../../assets/images/home-page-login-account-background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 767px) {
      background-position-x: 60%;
    }
    height: 650px;
    .login-view {
      color: $white;
      margin-top: 181px;
    }
  }
  .platform-features {
    background-image: url('../../../assets/images/home-page-platform-features-background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 767px) {
      background-position-x: -10%;
    }
    & > div {
      max-width: 400px;
      & > .card {
        max-width: 200px;
        min-width: 150px;
        background-image: url('../../../assets/images/home-page-platform-card-background.svg');
        background-position: left;
      }
    }
  }
  .create-account-section {
    padding-top: 66px;
    background-color: $white;
    background-image: url('../../../assets/images/home-page-create-account-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    .btn {
      height: 40px;
      padding-top: 7px;
    }
  }
  .login-button,
  .signup-button {
    height: 40px;
    padding-top: 7px;
  }
}
