@import '../../../../styles/variables';

.members-bar-section {
  transition: all 0.4s ease-in-out;
  width: 310px;

  &.expanded {
    animation-duration: 2s;
    animation-name: fadeMembersBar;
  }
  &.collapsed {
    width: 0;
    & > * {
      display: none;
    }
  }

  .list-group {
    .list-group-item {
      border-radius: unset;
      border-top: unset;
      border-left: unset;
      border-right: unset;
      background-color: transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
      color: $black;
      &.active {
        background-color: rgba(0, 152, 138, 0.1);
      }
      &:hover {
        background-color: rgba(0, 152, 138, 0.05);
      }
    }
  }
}

@keyframes fadeMembersBar {
  from { opacity: 0;}
  to { opacity: 1;}
}
