.form-group .react-tel-input {
  input[type='tel'] {
    width: inherit;
    height: auto;
    border-radius: 10px;
  }
}

.react-tel-input input[type='tel'] {
  background: #f9f9f9;
}

.react-tel-input input[type='tel'].is-invalid {
  border-color: #ea3900;
}

.react-tel-input .flag-dropdown {
  top: 1px;
  left: 1px;
  bottom: 1px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-radius: 10px 0 0 10px;
}

.react-tel-input .flag-dropdown:hover .selected-flag {
  background-color: inherit;
}

.react-tel-input .flag-dropdown.open-dropdown .selected-flag {
  background-color: inherit;
  border-radius: 10px 0 0 10px;
}

.react-tel-input .flag-dropdown.open-dropdown {
  background-color: #eaeaea;
  border-radius: 10px 0 0 10px;
}
