@import '../../../styles/variables';

.country-dropdown {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #d4d4d4;
  &.is-invalid {
    border-color: $danger;
  }
  select {
    border: none;
    height: 38px;
    width: 100%;
    outline: none;
  }
}
