@import '../../styles/variables';

.tooltip-left {
  background-color: $primary-bg-color;
  width: 150px;
  left: 30px;
  font-size: 12px;
  margin-top: 15px;
  border-radius: $border-radius-lg;
  position: absolute;
  .triangle {
    position: absolute;
    right: 45px;
    bottom: 100%;
    border-bottom: 10px solid $primary-bg-color;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}

.tooltip-right {
  background-color: $primary-bg-color;
  width: 150px;
  left: 10px;
  font-size: 12px;
  margin-top: 15px;
  border-radius: $border-radius-lg;
  position: absolute;
  .triangle {
    position: absolute;
    right: 15px;
    bottom: 100%;
    border-bottom: 10px solid $primary-bg-color;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}