@import '../../../styles/variables';

.password-recovery-steps {
  h3 {
    font-weight: 600;
    font-size: 36px;
  }
  p {
    font-size: 14px;
    font-weight: 600;
  }
  span {
    font-size: 16px;
    font-weight: 600;
  }
}