@import '../../../styles/variables';

.password-recovery-steps {
  font-weight: 600;
  h3 {
    font-weight: 600;
  }
  p {
    font-size: 14px;
  }
  span {
    font-size: 16px;
  }
  .card {
    max-width: 450px;
  }
  .auth-form-header {
    span {
      font-size: 36px;
    }
  }
}