@import '../../styles/variables';

.footer {
  flex-shrink: 0;

  position: absolute !important;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  a {
    color: $white;
    font-size: 14px;
  }
  p {
    color: $white;
    opacity: 0.7;
    font-size: 12px;
  }
}
