@import '../../../../styles/variables';

.message-nav-bar {
  background-color: #f5f5f5;
  span {
    font-size: 12px;
  }
  nav {
    a {
      color: black;
      font-size: 16px;
    }
    .active {
      opacity: 1;
      font-weight: bold;
      border-bottom: 3px solid $primary;
    }
  }
}